body {
  background-image:  url("./img/espacio.jpg");
  background-size:     cover;      
  background-repeat:   no-repeat;
  background-position: center center;    
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}


/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */



/* .form {
padding: auto;
margin: 80px auto;
border-radius: 10px;
font-size: 20px;
} */


.searchBar{     
  margin-top: 60px;
  padding: 10px;
  width: 600px;
  height: 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
}


/* .apaga a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
} */





/* .button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 0;
  background-color: #026773;
  text-align: center;
  color: white;
  width: 240px;
  height: auto;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  
} */

/* .button {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 0;
  background-color: #026773;
  text-align: center;
  color: white;
  width: 240px;
  height: auto;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: none;
  
} */



.button:hover{
  background-color: #3CA6A6;
  color: white;
}

/* .flag {
  float: left
}

.cardContent {
  font-size: 15px;
  font-weight: 700;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  margin: auto;
}

.content {
  padding-left: 90px;
  padding-top: 80px;
} */